services:
  db:
    image: postgres:17
    container_name: chat-ppp
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - chat_pgdata:/var/lib/postgresql/data

volumes:
  chat_pgdata:
